{#
/**
 * @file
 * Displays the list of Meetings and Meetings Documents
 *
 * Available variables
 * - legislation: The legislation JSON data from OnBoard
 * - year:        The year for the meetings being listed
 * - years:       Available years to choose from
 * - node:        The node object for the board page in Drupal
 *
 * @copyright 2017 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE.txt
 */
#}
<section>
    <header>
        <h2>{{ year }}</h2>
        <div class="tools">
            {% set route = 'onboard.legislation.node-' ~ node.id %}
            {% for y in years %}
            <a href="{{ path(route, {'node':node.id, 'year':y}) }}"{% if y == year %} class="current"{% endif %}>
                {{ y }}
            </a>
            {% endfor %}

            {% set route = 'onboard.legislation.years.node-' ~ node.id %}
            <a href="{{ path(route, {'node':node.id}) }}">Archive</a>
        </div>
    </header>

    <table>
    {% for l in legislation %}
    {% set route = 'onboard.' ~ l.type ~ '.node-' ~ node.id %}
    {% set url   = path(route, {'node':node.id, 'number':l.number}) %}
    <tr><td><a href="{{ url }}">{{ l.type }}</a></td>
        <td><a href="{{ url }}">{{ l.number }}</a></td>
        <td>{% for file in l.files %}
            <a href="{{ file.url }}">Download</a>
            {% endfor %}
        </td>
        <td><a href="{{ url }}">{{ l.title }}</a></td>
    </tr>
    {% endfor %}
    </table>
</section>
