{#
/**
 * @file
 * Displays the list of Members for a Committee
 *
 * Available variables
 * - members:     JSON from OnBoard
 * - nid:         The current node ID
 * - onboard_url: The base url for OnBoard
 *
 * @copyright 2017 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE.txt
 */
#}
<div class="seats">
{% for seat in members %}
    {% if seat.member_id and not seat.carryOver %}
    {% if seat.member_website %}<a href="{{ seat.member_website }}">{% endif %}
    <div class="member">
        <h3>{{ seat.member_firstname }} {{ seat.member_lastname }}
            {% if  seat.member_offices %}
            <div>{{ seat.member_offices }}</div>
            {% endif %}
        </h3>
        <dl>{% if seat.appointedBy %}
            <dt>Appointed By:</dt>
            <dd>{{ seat.appointedBy }}{% if seat.voting %} (Voting){% endif %}</dd>
            {% endif %}

            {% if seat.member_termEndDate %}
            <dt>Term Expires:</dt>
            <dd>{{ seat.member_termEndDate }}</dd>
            {% else %}
            <dt>Member Since:</dt>
            <dd>{{ seat.member_termStartDate ?? seat.member_startDate }}</dd>
            {% endif %}
        </dl>
    </div>
    {% if seat.member_website %}</a>{% endif %}
    {% else %}
    <div class="member">
        <h3>{% if seat.takesApplications %}
                <a href="{{ onboard_url }}/applicants/apply?committee_id={{ committee.info.id }}">Vacancy:Apply</a>
            {% else %}
                Vacant
            {% endif %}
            {% if seat.member_firstname %}
            ({{ seat.member_firstname }} {{ seat.member_lastname }})
            {% endif %}
        </h3>
        <dl>{% if seat.appointedBy %}
            <dt>Appointed By:</dt>
            <dd>{{ seat.appointedBy }}</dd>
            {% endif %}

            {% if seat.currentTerm %}
            <dt>Term Expires</dt>
            <dd>{{ seat.currentTerm.endDate }}</dd>
            {% endif %}
        </dl>
    </div>
    {% endif %}
{% endfor %}
</div>
